<h1 mat-dialog-title>{{cliente!=null ? 'Editar Cliente' : 'Nuevo Cliente'}}</h1>
<div mat-dialog-content>
    
        <mat-label>Nit :   </mat-label>
        <input mat-input [(ngModel)]="nit" type="number"><br>
        <mat-label>Nombre :   </mat-label>
        <input mat-input [(ngModel)]="nombre"><br>
        <mat-label>Apellido :   </mat-label>
        <input mat-input [(ngModel)]="apellido">
    
    
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="cliente!=null ? editCliente() : addCliente()">Guardar</button>
    <button mat-raised-button (click)="close()">Cancelar</button>
</div>